@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+IT+Moderna:wght@100..400&family=Quicksand:wght@300..700&display=swap');

.customFont1 {
    font-family: "Grey Qo", cursive;
  }


.customFont2{
  font-family: "Quicksand", sans-serif;
}

.customFont3{
  font-family: "Montserrat", sans-serif;
  /* font-style: italic; */
}

.body{
    background-color: #030104;
}

.customInput{
  background-color: white;
  border: 1px solid black;
  color: black;
}
.upperTriangle{
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}